.main-container{
    margin: 30px;
    padding: 20px;
    color: silver;
    width: 100%;
}

.main-container h2{
    text-align: center;
    font-size: 40px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px;
    padding: 20px;
}

.card{
    width: 300px;
    margin: 20px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card p{
    margin: 20px;
}

.card button{
    padding: 12px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #ccc;
    color: black;
}