*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    background-color: grey;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 20vh 1fr;
    grid-template-areas: 
    "navbar navbar"
    "sidebar maincontent"
    "sidebar maincontent"
    "sidebar directives";
    height: 100vh;
    width: 100%;
}

.navbar{
    grid-area: navbar;
}

.sidebar{
    grid-area: sidebar;
}

.maincontent{
    grid-area: maincontent;
}

.directives{
    grid-area: directives;
}